$white: #fff;

.compare {
  h2 {
    &.title {
      color: #43484D;
      font-weight: 300;
      font-size: 3rem;
      letter-spacing: -2px;
      text-align: center;
    }
  }
  .table-container {
    padding: 10px;

    table {
      thead {
        &.theader {
          background-color: #3aa4d1;
          th {
            color: $white;
            font-size: 1.4rem;
            font-weight: 300;
          }
        }
      }
      tbody {
        td {
          color: #86939E;
          font-size: 1.2rem;
          font-weight: 300;
          line-height: 1rem;

          .picture-container {
            box-sizing: border-box;
            height: 150px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            width: 150px;

            img {
              max-width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
  .compare-message {
    p {
      font-weight: 300;
      font-size: 1.5rem;
    }
  }
}


/* Responsive */
@media (max-width: 576px) {
  .compare {
    h2 {
      &.title {
        font-size: 2rem;
      }
    }
    .table-container {
     
      table {
        thead {
          &.theader {
            th {
              font-size: 1rem;
            }
          }
        }
        tbody {
          td {
            font-size: 1rem;
          }
        }
      }
    }
    .compare-message {
      p {
        font-size: 1rem;
      }
    }
  }
}