<app-header></app-header>
<div class="container-fluid">
  <section class="compare">
    <h2 class="text-center title">Vehicles Models</h2>
    <div class="table-responsive table-container" *ngIf="vehicles.length > 0">
      <table id="compare-vehicles" class="table table table-striped table-hover">
        <thead class="theader">
          <tr>
            <th>Features</th>
            <th class="text-center" *ngFor="let vehicle of vehicles">{{ vehicle.model }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="option">Title</td>
            <td class="text-center" *ngFor="let vehicle of vehicles">{{ vehicle.title }}</td>
          </tr>
          <tr>
              <td class="option">Picture</td>
              <td *ngFor="let vehicle of vehicles">
                <div class="picture-container">
                    <img class="picture" [src]="vehicle.picture">
                </div>
              </td>
            </tr>
          <tr>
            <td class="option">Year</td>
            <td *ngFor="let vehicle of vehicles">{{ vehicle.year }}</td>
          </tr>
          <tr>
            <td class="option">Brand</td>
            <td *ngFor="let vehicle of vehicles">{{ vehicle.brand }}</td>
          </tr>
          <tr>
            <td class="option">Price</td>
            <td *ngFor="let vehicle of vehicles">{{ vehicle.price | number:'.2-2' }}</td>
          </tr>
        </tbody>
        <tfoot class="tfooter">
          <tr>
            <th class=""></th>
          </tr>
          </tfoot>
      </table>
    </div>
    <div class="compare-message" *ngIf="vehicles.length === 0">
      <p>Please go to <a href="#" [routerLink]="['']"><i class="fa fa-home"></i> home</a> to select at least two Vehicles to check their features</p>
    </div>
  </section>
</div>
<app-footer></app-footer> 
