.about {
  p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2rem;
  }
}

/* Responsive */
@media (max-width: 576px) {
  .about {
    p {
      font-size: 1rem;
      line-height: 1rem;
    }
  }
}