$white: #ffffff;

.navbar{
  background-color: #0275d8;
  height: 60px;
  margin-bottom: 60px;
  
  .navbar-header {
    a {
      color: $white;
      font-size: 2.4rem;
      text-decoration: none;
    }
  }
  .navbar-nav {
    flex-direction: row;
    &.menu {
      li {
        margin-right: 10px;
        border-right: 1px solid white;
        padding-right: 20px;

        &:last-child {
          border-right: 0;
        }
        a {
          color: $white;
          font-size: 1.4rem;
        }
      }
    }
  }
  
}

/* Responsive */
@media (max-width: 576px) {
  .navbar {
    .navbar-nav {
      &.menu {
        li {
          a {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .navbar {
    .navbar-nav {
      &.menu {
        li {
          a {
            i {
              display: none;
            }
          }
        }
      }
    }
  }
}